<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HelpDesk Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet"> 
</head>
<body>
        <div class="container">
                <div class="row">
                  <div class="col-lg formContainer">
                    <h1 style="color: white">Help Desk Survey</h1><br>
                    <form action="/" method="POST" enctype="application/x-www-form-urlencoded" id="incident">
                      <div class="inputContainer">
                        <span>Début de l'appel</span>
                        <input autofocus type="text" id="client" class="textInput" placeholder="Qui appelle ?" name="clientName" value={{client.name}}"" data-lpignore="true"><br>
                        <label for="client">
                          <input type="hidden" id="clientId" name='clientId' value={{incident.clientId}}><br>
                        </label><br>
                        <input type="text" id="symptom" class="textInput" placeholder="Quelle est la raison de l'appel?" data-lpignore="true"><br>
                        <label for="symptom">
                          <input type="hidden" id="symptomId" name="symptomId" value={{incident.symptomId}}>
                        </label><br>
                      </div>
                      <div class="inputContainer">
                        <span>Fin de l'appel</span>
                        <input type="text" id="issue" class="textInput" placeholder="Quelle était la source réelle de l'appel ?" data-lpignore="true"></br>
                        <label for="issue">
                          <input type="hidden" id="issueId" name="issueId" value={{incident.issueId}}><br>
                        </label><br>
                        <input type="text" id="solution" class="textInput" placeholder="Quel est la solution/conclusion donnée à cet appel ?" data-lpignore="true"></br>
                        <label for="solution">
                          <input type="hidden" id="solutionId" name="solutionId" value={{incident.solutionId}}><br>
                        </label><br>
                        <div class="timerContainer">
                          <input type="text" name="timer" id="timer" class="timer" placeholder="0 sec" data-lpignore="true">
                          <span id="pause-timer" class="glyphicon glyphicon-pause"></span><span id="resume-timer" class="glyphicon glyphicon-play"></span>
                        </div>
                        <input type="submit" class="button" value="Valider" id="hideMe">
                      </div></div>
                    </form>
                    <form action="/" method="POST" enctype="application/x-www-form-urlencoded" class="refresh">
                      <input type='hidden' name="refresh" value="true">
                      <input type="submit" class="button" value="Rafraichir liste client">
                    </form>
                  </div>
                </div>
              </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="external/jquery/jquery.js"></script>
    <script src="js/notify.min.js"></script>
    <script src="jquery-ui.js"></script>
    <script src="timer.jquery.min.js"></script>
    <script>
      {{#if valid}}
          $.notify("Incident soumis", { className: 'success', position:"top center", autoHideDelay: 2000 });
      {{/if}}
      {{#if refresh}}
        $.notify("Clients récupérés", {className: 'success', position: "top center", autoHideDelay: 2000});
      {{/if}}
      {{#if errors}}
        {{#each errors as |error|}}
          $.notify({{{stringify error.msg}}}, { className: 'error', position:"top center", autoHideDelay: 2000 });
        {{/each}}
      {{/if}}

      $('#timer').timer({
        editable: true,
      });
       $('#timer').timer('pause');

      $(function() {
                $('#incident').each(function() {
                    $(this).find('input').keypress(function(e) {
                        if(e.which == 10 || e.which == 13) {
                            this.form.submit();
                        }
                    });

                    $(this).find('#hideMe').hide();
                });
            });

      let clientArray = [];
      let issueArray = [];
      let symptomArray = [];
      let solutionArray = [];

      let solutions = {{{stringify solutions}}};
      let issues = {{{stringify issues}}};
      let symptoms = {{{stringify symptoms}}};
      let clients = {{{stringify clients}}};

      clients.forEach(client =>{
        var newClient = {
          id: client.id,
          value: client.name,
        }
        clientArray.push(newClient);
      });

      solutions.forEach(solution=>{
        var newSolution = {
          id: solution.id,
          value: solution.name,
          createdAt: solution.createdAt,
          updatedAt: solution.updatedAt
        }
        solutionArray.push(newSolution);
      });

      symptoms.forEach(symptom =>{
        var newSymptom = {
          id: symptom.id,
          value: symptom.name,
          createdAt: symptom.createdAt,
          updatedAt: symptom.updatedAt
        }
        symptomArray.push(newSymptom);
      });

      issues.forEach(issue=>{
        var newIssue = {
          id: issue.id,
          value: issue.name,
          createdAt: symptom.createdAt,
          updatedAt: symptom.updatedAt
        }
        issueArray.push(newIssue);
      });

      $('#client').autocomplete({
        source: clientArray,
        minLength: 3, 
        select: (event, ui)=>{
          $('#clientId').val(ui.item.id);
          $('#timer').timer('resume');
        }
      });

      $('#issue').autocomplete({
        source: issueArray,
        select: (event,ui)=>{
          $('#issueId').val(ui.item.id);
        }
      });

      $('#symptom').autocomplete({
        source: symptomArray,
        select: (event,ui)=>{
          $('#symptomId').val(ui.item.id);
        }
      });

      $("#solution").autocomplete({
        source: solutionArray,
        select: (event,ui)=>{
          $('#solutionId').val(ui.item.id);
        }
      });
     
      $('#resume-timer').on('click', function() {
				$('#timer').timer('resume');
			});
      $('#pause-timer').on('click', function() {
				$('#timer').timer('pause');
			});
    </script>
</body>
</html>